body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 0 3rem;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.slider button {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  margin: 0 8px;
  cursor: pointer;
}

.slider img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.answer {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
  padding: 1rem 3rem;
  border-bottom: solid thin #f0f0f0;
}
